<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First About Page</title>
</head>
<body>
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'About' %}">About</a>
    <a href="{% url 'Services' %}">Services</a>
    <a href="{% url 'Products' %}">Products</a>
    <a href="{% url 'Contact' %}">Contact</a>
    <h1>About Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, laborum necessitatibus dicta autem temporibus dolorum deserunt nemo dolore obcaecati perferendis? Eaque doloremque voluptatem quos magni neque! Expedita ducimus asperiores unde vitae nihil minima autem dolores! Magnam possimus earum in aspernatur ut provident assumenda laboriosam quod. Sapiente eius aspernatur, accusantium laudantium facilis labore veritatis explicabo sunt totam laboriosam impedit voluptate dignissimos dolore laborum error culpa placeat porro est in doloribus numquam ea pariatur expedita. Ad vero consectetur laboriosam tempore? Veritatis delectus tempora ipsa alias maxime provident illum voluptatem atque, rerum officiis consequuntur voluptatibus sequi qui harum, fugiat fugit inventore ad eligendi.</p>
</body>
</html>