<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'About' %}">About</a>
    <a href="{% url 'Services' %}">Services</a>
    <a href="{% url 'Products' %}">Products</a>
    <a href="{% url 'Contact' %}">Contact</a>
    
</body>
</html>